/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Slideshow container */
.carousel-container {
    width: 100%;
    max-width: 960px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    border: 5px solid black;
    border-radius: 10px;
    position: relative;
}

.images-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.images-slide .slide {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
/* Button Styles */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin-top: -22px;
    transition: 0.6s ease;
    border: none;
    border-radius: 25%;
}

.prev:hover, .next:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}

.prev {
    left: 2px;
  }
  
.next {
    right: 2px;
  }

.btn-container {
    display: flex;
    width: 200px;
    justify-content:center;
    align-items: center;
    margin: 0 auto;
}

#play, #pause {
    cursor: pointer;
    padding: 16px;
    font-weight: bold;
    color: black;
    display: block;
    margin: 5px auto;
    transition: 0.6s ease;
    border: none;
    border-radius: 5px;
}

#play:hover, #pause:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}
/* Dot Styling */
.btm-sliders {
    text-align: center;
}

.btm-sliders .dot {
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin: 10px 2px;
    background-color: rgb(161, 161, 161);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.btm-sliders .dot.active {
    border: 2px solid yellowgreen;
}

.active, .dot:hover {
    background-color: rgb(57, 57, 57);
}